body{
    background-color: black;
    margin: 20%;
}

.Heading{
    text-align: center;
    color: gold;
    font-size: 100px;
    text-decoration: underline;
    padding-bottom: 2%;
}

.game
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}
